@charset "UTF-8";
/* CSS Document */

/*----------------------------------------
TABLE OF CONTENTS:
------------------------------------------*/

/*-------------------
1.0	SETTINGS
---------------------*/

/*-------------------
2.0	TOOLS
---------------------*/

/*-------------------
3.0	GENERIC
---------------------*/

/*-------------------
4.0	ELEMENTS
---------------------*/
/*---FORMS---*/
/*---LISTS---*/
/*---MEDIA---*/
/*---TABLES---*/
/*---TYPOGRAPHY---*/

/*-------------------------
5.0	OBJECTS
---------------------------*/
/*---FRAMEWORK---*/

/*-------------------------
6.0	COMPONENTS
---------------------------*/
/*---BUTTONS---*/
/*---HEADER---*/
/*---NAVIGATION---*/

/*-------------------------
7.0	UTILITIES
---------------------------*/
/*---ALIGNMENT---*/
/*---COLORS---*/
/*---SIZE---*/


/*----------------------------------------
------------------------------------------*/














/*-------------------
3.0	GENERIC
---------------------*/






/*-------------------
4.0	ELEMENTS
---------------------*/


/*---LISTS---*/


ul {
	margin-bottom: 0;
	list-style-type: none;
}

li {
	font: 1.2rem 'acumin-pro-condensed', sans-serif;
	margin-top: 1em;
}

li:first-child {
	margin-top: 0;
}


/*---MEDIA---*/


/*---TYPOGRAPHY---*/


html {
	font: 1.0rem 'acumin-pro', sans-serif;
	line-height: 1.8em;
	color: #292929;
}

h1, h2, h3 {
	font-family: 'futura', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 2.2rem;
	line-height: .9em;
}

h2 {
	font-size: 1.55rem;
	margin-top: 2em;
	margin-bottom: 0;
}

h3 {
	font-size: 1.2rem;
	margin: 2.5em 0 0;
	line-height: 1.1em;
}

h4 {
	margin-bottom: 0;
}

#best h3 {
	margin-top: 0;
}







@media only screen and (min-width: 768px) {
	
	html {
		font-size: 1.1rem;
	}
	
	h1 {
		font-size: 3rem;
	}
	
	.wrapper {
		width: 75%;
	}
	
}

@media only screen and (min-width: 1024px){
	
	html {
		font-size: 1.2rem;
	}
	h1 {
		font-size: 3.5rem;
	}
	
	.wrapper {
		width: 65%;
	}
	
}

@media only screen and (max-width: 500px){
	
	img {
		display: none;
	}
}


/*-------------------------
5.0	OBJECTS
---------------------------*/


#best {
	border: .05rem solid #4F4F4F;
	padding: 2em 3em;
}


#bg-yel, #bonus {
	padding: .5em 2em;
}

#bonus p {
	margin-top: 0;
}

aside, #best {
	margin: 2em 0;
}


/*-------------------------
6.0	COMPONENTS
---------------------------*/

/*---BUTTONS---*/

a {
	font-style: italic;
	color: #585858;
}

a:hover {
	color:#2C7FE4;
}



h1+p {
	font-size: .8rem;
	color: #5A5A5A;
}


#bonus h3 {
	font-weight: 900;
}

#bonus {
	font-size: .9rem;
}



/*-------------------------
7.0	UTILITIES
---------------------------*/


/*---COLORS---*/

#bg-yel, #bonus {
	background-color: #FFFCBE;
}




